//tools
@import "_misc/mixins";
@import "_misc/normalize";

html, body {
    min-height: 100%;
    width: 100%;
    line-height: 1.42;
    position: relative;
}

.one_click_cont{

    position: relative;
    z-index: 1;
}

.oneclick_phone-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 40px 0 40px;
    border-radius: 10px;
}

.one__click-phonefield{

}

.one__click-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    white-space: nowrap;
}

.button__img-cont, .button__code-cont{
    margin-top: 40px;
}

.custom_title{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    margin-top: 5px;
    display: inline;

    &-center{
        text-align: center;
    }
}

.copy__btn{

}

.custom_settings-block{
  margin-top: 20px;
  text-align: center;

}

.custom__settings-cont{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.input-group-prepend{
  padding-right: 5px;
}

.custom__settings-label{
  width: 100%;
  font-size: 12px;
}

.custom__settings-input{
  font-size: 12px;
}

.one_click_cont{
    padding-left: 0;
    text-align: center;
}

.input__num-form{
    padding: 0;
}

.input_cont{
  padding: 0;
}

.custom_set-btn{
  margin-left: 63%;
  margin-top: 30px;
}

